URI=mongodb+srv://<user>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
PORT=4000
NODE_ENV=development

ACCESS_TOKEN_SECRET=replace-with-long-random-string
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=replace-with-different-long-random-string
REFRESH_TOKEN_EXPIRY=10d
